.subsection {
  width: 95%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.text {
  color: whitesmoke;
  width: 45rem;
}

.text hr {
  color: white;
}

.title {
  background-color: #232627;
  display: flex;
  justify-content: center;
}
.title h1{
  font-size: 3.5rem;
  overflow: hidden;
  position: relative;
 }
.title h1::after {
  content: "TITians";
  display: inline-block;
  animation: animation 6.5s steps(5) infinite;
  width: 0ch;
  color: whitesmoke;
  opacity: 0.75;
}
.title h1::before {
  display: inline-block;
  content: "";
  width: 2px;
  height: 100%;
  background-color: white;
  position: absolute;
  right: 0;
  animation: blinking .4s linear alternate infinite;
}
@keyframes animation {
  25% {
    content: "TITians";
    width: 6ch;
  }
  40% {
    width: 0ch;
  }
  75% {
    content: "TITians";
    width: 6ch;
  }
  90% {
    width: 0ch;
  }
}
.subtitle {
  background-color: #232627;
  font-size: 3.5rem;
  text-align: center;
  white-space: pre-line;
}

.imageWrapper {
  
  height: 25rem;
  width: 25rem;
}

.imageWrapper img {
  border-radius: 5%;
  max-height: 100%;
  max-width: 100%;
}



@media (max-width: 1281px) {
  .subsection {
    flex-direction: column-reverse;
  }

  .text {
    color: whitesmoke;
    width: 95%;
  }

  .buttonContainer {
    justify-content: center;
  }
}
