.section {
    background-image: url("/public/images/MM.jpg");
    width: 100vw;
    min-height: 100vh;
  }
  
  .sectionWithTitle {
    width: 100vw;
    min-height: calc(100vh - var(--section-title-height));
  }
  
  .sectionFlex {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: cenkter;
    justify-content: center;
}

.flex {
  width: 100%;
  margin: 4rem auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 3rem;
}

.filesPopup {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filesGrid {
  overflow: scroll;
  width: 70%;
  height: calc(100% - 15rem);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 2.5rem;
  border-top: 1px solid #232627;
}

.file {
  box-sizing: border-box;
  height: 2.5rem;
  border-bottom: 1px solid #232627;
  border-left: 1px solid #232627;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file:nth-child(even) {
  border-bottom: 1px solid #232627;
  border-right: 1px solid #232627;
}
