.moviePage {
  height: calc(100vh - var(--nav-height));
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.moviePage form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.moviePage form label, .buttonWrapper {
  width: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttonWrapper {
  justify-content: flex-end;
}